<!DOCTYPE html>
{% load staticfiles%}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SignUp</title>
  <style>
    body {
      background: url("{% static 'img/p5.jpg' %}");

      opacity: 0.7;
      background-repeat: no-repeat;
      background-size: cover;
      margin-top: 5%;

    }

    a {
      color: white;
    }

    h1 {
      color: white;
    }
  </style>
</head>

<body>
  <h1>Sign Up</h1>
  <div class="row">
    <a class="darken-2 blue-text right animated flash" id="btn-close" href="/">
      Back Home
    </a>
  </div>
</body>

</html>